body {
	background-color: #fff;
	padding-top: 100px;
}
#tooltip span {
	display:none;
	z-index: 100;
	visibility: hidden;
}
#captureFp:hover span {
	display:block;
	/*position:fixed;*/
	position: relative;
	overflow:hidden;
	visibility: visibile;
}
.raw-image{
	padding-left:5em;
	/*width:8em;*/
	height:10em; 
	visibility:visible;
	margin-left: 14%;
	cursor: pointer;
	margin-bottom:5%;
	margin-top:5%;
}