# macOS
.DS_Store

# Logs
logs/
*.log

# Archives / large artifacts
*.zip
*.tar
*.tar.gz

# Docker artifacts
docker/
docker-rpms/

# Build outputs
target/
build/

# Certificates / keystores
*.crt
*.cer
*.p12
*.jks
*.keystore