<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration scan="true">
    <!-- Custom color highlighting -->
    <conversionRule conversionWord="myCustomHighlighting"
                    converterClass="com.equitybank.gag.papss.its.config.formatter.CustomLogColorHighlighter" />

    <!-- Custom thread name processor -->
    <conversionRule conversionWord="cleanThread"
                    converterClass="com.equitybank.gag.papss.its.config.formatter.CleanThreadConverter" />

    <!-- Console appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>false</withJansi>
        <encoder>
            <!--            <pattern>[%d{yyyy-MM-dd'T'HH:mm:ss.SSS}] [%myCustomHighlighting(%-5level)] %magenta([%cleanThread]) [%blue(%logger{50})] %msg%n</pattern>-->
            <pattern>[%d{yyyy-MM-dd'T'HH:mm:ss.SSS}] [%myCustomHighlighting(%-5level)] [%blue(%logger{50})] %msg%n</pattern>
        </encoder>
    </appender>

    <!-- File appender with rolling policy -->
    <!--    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
    <!--        <file>/Users/bishop/Programming/projects/work/WorkSpace/NetBeans/GAG/GAGApplications/PAPSS/logs/outbound.log</file>-->
    <!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
    <!--            <fileNamePattern>/Users/bishop/Programming/projects/work/WorkSpace/NetBeans/GAG/GAGApplications/PAPSS/logs/outbound.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>-->
    <!--            <maxHistory>30</maxHistory>-->
    <!--            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
    <!--                <maxFileSize>500MB</maxFileSize>-->
    <!--            </timeBasedFileNamingAndTriggeringPolicy>-->
    <!--        </rollingPolicy>-->
    <!--        <encoder>-->
    <!--            <pattern>[%d{yyyy-MM-dd'T'HH:mm:ss.SSS}] [%level] [%cleanThread] [%logger{50}] %msg%n</pattern>-->
    <!--        </encoder>-->
    <!--    </appender>-->

    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <!--        <appender-ref ref="FILE"/>-->
    </root>

    <!-- Individual logger levels -->
    <logger name="org.hibernate.persister.entity.AbstractEntityPersister" level="INFO"/>
    <logger name="org.hibernate" level="INFO"/>
    <logger name="angus.activation" level="INFO"/>
    <logger name="jakarta.activation" level="INFO"/>
    <logger name="jakarta.mail" level="INFO"/>
    <logger name="jakarta.management.remote" level="INFO"/>
    <logger name="jakarta.xml.bind" level="INFO"/>
    <logger name="jdk.event.security" level="INFO"/>
    <logger name="com.ryantenberg" level="INFO"/>
    <logger name="com.sun" level="INFO"/>
    <logger name="com.zaxxer" level="INFO"/>
    <logger name="io.undertow" level="INFO"/>
    <logger name="io.undertow.websockets.jsr" level="ERROR"/>
    <logger name="org.apache" level="INFO"/>
    <logger name="org.apache.catalina.startup.DigesterFactory" level="OFF"/>
    <logger name="org.bson" level="INFO"/>
    <logger name="org.hibernate.validator" level="INFO"/>
    <logger name="org.hibernate.ejb.HibernatePersistence" level="OFF"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.springframework.web" level="INFO"/>
    <logger name="org.springframework.security" level="INFO"/>
    <logger name="org.springframework.boot.autoconfigure.logging" level="INFO"/>
    <logger name="org.springframework.cache" level="INFO"/>
    <logger name="org.thymeleaf" level="INFO"/>
    <logger name="org.xnio" level="INFO"/>
    <logger name="io.swagger.v3" level="INFO"/>
    <logger name="sun.rmi" level="INFO"/>
    <logger name="sun.rmi.transport" level="INFO"/>
    <logger name="Validator" level="INFO"/>
    <logger name="_org.springframework.web.servlet.HandlerMapping.Mappings" level="INFO"/>
    <logger name="com.equitybank.gag.papss.its" level="INFO"/>
    <logger name="Q2.system" level="INFO"/>
    <logger name="transaction-manager-tm-1" level="INFO"/>
    <logger name="transaction-manager-tm-2" level="INFO"/>
    <logger name="org.jpos" level="INFO"/>

    <!-- Spring property listener -->
    <springProperty name="log.level" source="logging.level.root" defaultValue="INFO"/>
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>
</configuration>
